<div class="container-fluid">
    <div class="house">
        <p><i class="fa-light fa-house-user" style="color: #ffffff;"></i></p>
    </div>
<div class="icon">
    <div class="icon1">
   <img src="{{Profile.avatar_url}}" alt="">

    </div>
</div>
<div class="user">
    <p>{{Profile.login}}</p>
    <p>{{Profile.bio}}</p>
</div>

<div class="followers">
    <p><i class="fa-solid fa-user-group " style="color: #ffffff;"></i></p>
    <p><span>{{Profile.followers}}</span> followers</p>
    <p><span>{{Profile.following}}</span> following</p>
</div>
<form (submit)="getname()">
    <label for="name">Name: </label><br>
    <input id="name" type="text" [formControl]="name"><br>
    
    <button type="submit" class="btn btn-success">Search</button><br>
    
    </form>

</div>
