/* header styling */
#header{
    width: 100%;
    background-color: #2C2C2C;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#header h1{
    color: rgb(15, 240, 240);
    font-weight: 700;
    font-size: 50px;
}
#header span{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgb(15, 240, 240);
    text-decoration-thickness: 10px;
}
.sections{
    height: 90vh;
    
    display: flex;
}
#left,#right{
    background-color: #000000;
}
.myform{
    
    height: 20vh;
    background-image: linear-gradient(to bottom , #0E213A, #0A1820);
}
#middle{
    background-color: #121212;
}
.footer{
    background-color: #181818;
    height: 4vh;
}