<div class="container-fluid" id="backgg">
  <div class="container-fluid" id="header">
      <h1><span>GitHub</span>~Search</h1>
  </div>
  <div class="sections">

    <div class="card" style="width: 15%;" id="left">
       <div class="img1">
         <img src="{{Profile.avatar_url}}" alt="">
       </div>
       <div class="login">
         <p>{{Profile.login}}</p>
       </div>
       <div class="bio">
         <p>{{Profile.bio}}</p>
       </div>
       <div class="followers">
         <p><i class="fa-solid fa-user-group" style="color: #ffffff;"></i></p>
         <p> {{Profile.followers}} <span>followers</span></p>
         <p> {{Profile.following}} <span>following</span></p>
       </div>
       <div class="others">
         <p> Location: {{Profile.location}}</p>
         <p> Company: {{Profile.company}}</p>
         <p>Twitter: {{Profile.twitter_username}}</p>
         <p>Email: {{Profile.email}}</p>
       </div>

    </div>
    <div class="card" style="width: 70%;" id="middle">
        <div class="myform">
          <form (submit)="getusername()">
            <label for="name">Name: </label><br>
            <input id="name" type="text" [formControl]="name" placeholder="e.g Olliemint"><br>
            <div class="mybutton">
            <button type="submit" class="btn btn-success">Search</button><br>
          </div>
            
            </form>

        </div>

        <div class="repos">
          <div appCardHighlight class="card" style="width: 24rem;" id="cardrepo" *ngFor="let repo of repos">
            <div class="card-body">
              <div class="link">
              <a href="{{repo.html_url}} " target="_blank" class="card-link">{{repo.name}}</a>
            </div>
            <div class="desc">
              <p>{{repo.description}}</p>
            </div>

            <div class="combo">
              <p>{{repo.language}}</p>
              <div class="starfork">
              <p><i class="fa-solid fa-star" style="color: #ffffff;"></i> <span> {{repo.stargazers_count}} </span></p>
              <p><i class="fa-solid fa-code-fork" style="color: #ffffff;"></i> <span>{{repo.forks_count}}</span></p>
            </div>
            </div>
            <div class="days">
              <p>Created {{repo.created_at | daysCount}} ago</p>
            </div>
             
              
            </div>
          </div>
        </div>
        
        
    </div>
    <div class="card" style="width: 15%;" id="right">
        <div class="logins">
          <p class="dropdown"><i class="fa-solid fa-bell fa-2x" style="color: #ffffff;"></i></p>
          <div class="dropdown">
            <label for=""><i class="fa-solid fa-plus"style="color: #ffffff;"></i></label>
            <select name="" id="">
              <option value=""></option>
            
            </select>
          </div>
          <img src="{{Profile.avatar_url}}" alt="">
        </div>
        <hr>
        <div class="lists">
          <ul>
            <li>Your codespaces</li>
            <li>Upgrade</li>
            <li>Feature preview</li>
            <li>Settings</li>
          </ul>
        </div>

    </div>


  </div>
  <div class="footer">
      <p>©MintTech Solutions 2022 . All rights reserved.</p>
  </div>

</div>
<app-userprofile></app-userprofile>
<app-userrepos></app-userrepos>
<router-outlet></router-outlet>
