/* header styling */
#header{
    width: 100%;
    background-color: #2C2C2C;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#header h1{
    color: rgb(15, 240, 240);
    font-weight: 700;
    font-size: 50px;
}
#header span{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgb(15, 240, 240);
    text-decoration-thickness: 10px;
}
.sections{
    height: 90vh;
    
    display: flex;
}
#left,#right{
    background-color: #000000;
}
.myform{
    
    height: 20vh;
    background-image: linear-gradient(to bottom , #0E213A, #0A1820);
}

.footer{
    background-color: #181818;
    height: 4vh;
}
#backgg{
    background-color: #121212;
}
.img1{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}
      /* user profile side */
.img1 img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin-top: 40px;
    
}
.login{
    display: flex;
    justify-content: center;
    
}
.login p{
    color: #ffffff;
    font-weight: 700;
    position: relative;
    margin-top: 20px;
}
.followers{
    display: flex;
    gap: 2%;
}
.followers p{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}
.bio{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.others p{
    color: #ffffff;
}
       /* middle section styling */
 #middle{
        background-color: #121212;
        overflow-y: scroll;
    }
.repos{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-left: 2%;
    
    margin-top: 3%;
}
#cardrepo{
    margin: 5px;
    background-color: #0A192F;
}
.link a{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}
.desc p{
    color: #fcfc;
    font-weight: 700;
}