<div class="container-fluid">
  <div class="container-fluid" id="header">
      <h1><span>GitHub</span>~Search</h1>
  </div>
  <div class="sections">

    <div class="card" style="width: 15%;" id="left">
        <p>heyy</p>

    </div>
    <div class="card" style="width: 70%;" id="middle">
        <div class="myform">
            
        </div>
        
    </div>
    <div class="card" style="width: 15%;" id="right">
        <p>hey</p>

    </div>


  </div>

</div>
<app-userprofile></app-userprofile>
<app-userrepos></app-userrepos>
<router-outlet></router-outlet>
